{% extends "base.html" %}
{% block title %}Celebrations!{% endblock %}

{% block content %}
<h1>Look Up Prices for Celebrations!</h1>
<form method="POST">
    <div class="form-group">
        <label for="pokemon">Pokemon</label>
        <input
            type="text"
            class="form-control"
            id="pokemon"
            name="pokemon"
            placeholder="Enter Pokemon">
    </div>
    <button type="submit" name="button" class="btn btn-primary">Submit</button>
    <br/>
    <br/>
    
    {% if found %}
    {% if name %}
    <h5>{{ name }}</h5>
    <h5>{{ number }}</h5>
    <h5>{{ price }}</h5>
      {% endif %}

    {% elif not found and b %}
        <h5>Card not found, please try again</h5>
      {% endif %}

</form>
{% endblock %}